H1, H2, H3 {
    font-family: Arial, sans-serif;
}
H3 {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    border-bottom: 1px #CCC solid;
}

H4 {
    padding-top:    2px;
    padding-bottom: 0px;
    margin-bottom:  0px;
}

P {
    clear: both;
}

#padding {
    display: none;
}

.debuginfo .type {
    color:    #333399;
    font-weight: bold;
}

.debugwarning .type {
    color:    #EEEE33;
    font-weight: bold;
}

.debugerror .type {
    color:    #993333;
    font-weight: bold;
}

.message {
    font-style: italic;
}

.miniProduct {
    float: left;
    padding: 2px;
}

.formError {
    background-color: #FFAAAA;
}