<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>SPECweb2005: Bill Pay Status</title>
  </head>
  <body bgcolor="white">
  <table  width="100%">
  <tr valign="middle">
  <td width="200" bgcolor="#f0f0f0">
    Welcome {$userid}!
    {include file="menu.tpl"}
  <td>
    <center>
    <form method="get" action="bill_pay_status_output.php">
      <table cellpadding=3 border=0>
      <tr>
        <td align="right">Start Date (yyyy-mm-dd):</td>
        <td><input type="text" name="start"></td>
      <tr>
        <td align="right">End Date (yyyy-mm-dd):</td>
        <td><input type="text" name="end"></td>
      </table>
      <input type="submit" value="Submit">
    </form>
    </center>
  </table>
  </body>
</html>
