    <h3>Choose a product for <em>{$cust_type}</em></h3>
    <ul>
    {section name=id loop=$products}
        <li><a href="browse_productline.php?c={$smarty.get.c}&s={$smarty.get.s}&p={$products[id]}">{$products[id]}</a></li>
    {/section}
    </ul>
    <a href="index.php?c={$smarty.get.c}">Home Page</a>
