    <h3>Your search returned <em>{$total_results}</em> results</h3>
    <table>
    {section name=id loop=$items}
        <tr>
            <td colspan="2"><h4>{$items[id][0]} results</h4></td></tr>
        <tr>
            <td><a href="{$items[id][2]}">{$items[id][1]}</a></td>
            <td>{$items[id][3]}</td></tr>
    {sectionelse}
        <tr>
            <td>Your search returned no results.</td></tr>
    {/section}
    </table>
    
    <form action="search.php" method="GET">
        <input type="hidden" name="c" value="{$smarty.get.c}">
        <h3>New search</h3>
        <select name="seg">
	        <option value="all">Search entire site</option>
	        <option value="products">Products</option>
	        <option value="services">Services</option>
	        <option value="techsupport">Technical Support</option>
	        <option value="accessories">Accessories</option></select>   
        <input name="kw" type="text" value="" size="30">
        <input type="submit" value="Search"></form>
    <a href="index.php?c={$smarty.get.c}">Home page</a>
