    <h3>Product detail for <em>{$smarty.get.i}</em>:</h3>
    <ul>
    {section name=id loop=$details}
        <li>{$details[id]}</li>
    {/section}
    </ul>
    <a href="customize.php?c={$smarty.get.c}&s={$smarty.get.s}&i={$smarty.get.i}">Customize It</a>
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
