    <form action="{$smarty.server.PHP_SELF}" method="GET">
        <h3>Select Your Region</h3>
        <select name="c">
            {section name=id loop=$regions}<option{if $smarty.get.c eq $regions[id]} selected{/if}>{$regions[id]}</option>
{/section}
        </select>
        <input type="submit" value="go">
    </form>
    
    <form action="search.php" method="GET">
        <h3>Search</h3>
        <input type=hidden name="c" value="{$smarty.get.c}">
        <input name="kw" type="text" value="" size="30">
        <select name=seg>
        	<option value="all">Entire site</option>
	        <option value="products">Products</option>
	        <option value="services">Services</option>
	        <option value="techsupport">Technical Support</option>
	        <option value="accessories">Accessories</option>
        </select>
        <input type="submit" value="Search">
    </form>
    
    <h3>Browse: Choose customer type:</h3>
    {foreach item=link key=key from=$customer_types}<a href="browse.php?c={$smarty.get.c}&s={$key}">{$link}</a> {/foreach}
