	<h2>Product Categories</h2>
	<ul>
	{section name=category loop=$productCategories}
		<li><a href="catalog.php?id={$productCategories[category][0]}">{$productCategories[category][1]}</a></li>
	{/section}
	</ul>
	<h2>Product Search</h2>
	<form name="productSearch" method="GET" action="search.php">
		<input name="q" value="">
		<input type="submit" value="Search"></form>