	<table>
		<colgroup>
			<col class="field" />
			<col class="value" /></colgroup>
		<tr>
			<td>Name:</td>
			<td>{$file[0][1]}</td></tr>
		<tr>
			<td>Size:</td>
			<td>{$file[0][3]}</td></tr>
		<tr>
			<td>Date:</td>
			<td>{$file[0][2]}</td></tr></table>
	<h2>Description</h2>
	<p>{$file[1][0]}</p>
	<h2>Additional Information</h2>
	<p>{$file[2][0]}</p>
	<a href="{$file[0][4]}">Download</a>